<ul class="tab-component">
    <li v-for="(item, index) in items"
        @click="activeTab(index)">
        <div class="close" :class="item.active ? 'true' : ''">
            <div class="title">{{date(item.created_at)}} Order: {{item.id}}</div>
            <div class="total-accord">
                <div>Total: <span style="font-weight: bold">${{item.order.amount}}</span></div>
                <div style="margin-left: 30px">Status: <span class="badge red">SHIPPED</span></div>
            </div>
        </div>
        <div class="active" :class="item.active ? 'true' : ''">
            <div class="title">Information about order:</div>
            <table class="COMPATIBILITY">
                <tr>
                    <th class="tw1" colspan="3">
                        <div class="tw1 padding nested-text">NAME</div>
                    </th>
                    <th class="tw2" colspan="3">
                        <div class="tw2 padding nested-text">SHIPPING ADDRESS</div>
                    </th>
                    <th class="tw3">
                        <div class="tw3 padding nested-text">PHONE</div>
                    </th>
                    <th class="tw4">
                        <div class="tw4 padding nested-text">CARRIER</div>
                    </th>
                    <th class="tw5">
                        <div class="tw5 padding nested-text">TRACKING</div>
                    </th>
                    <th class="tw6">
                        <div class="tw6 padding nested-text">CAR</div>
                    </th>
                </tr>

                <tr>
                    <td class="tw1" colspan="3">
                        <div class="tw1 padding nested-text">
                            {{item.order.user.first_name}} {{item.order.user.last_name}}
                        </div>
                    </td>
                    <td class="tw2" colspan="3">
                        <div class="tw2 padding nested-text">{{item.order.user.first_name}}</div>
                    </td>
                    <td class="tw3">
                        <div class="tw3 padding nested-text">{{item.order.user.street_address}}</div>
                    </td>
                    <td class="tw4">
                        <div class="tw4 padding nested-text">---- </div>
                    </td>
                    <td class="tw5">
                        <div class="tw5 padding nested-text">----</div>
                    </td>
                    <td class="tw6">
                        <div class="tw6 padding nested-text">
                            ----
                        </div>
                    </td>
                </tr>
            </table>
            <div class="title">Order List:</div>
            <table class="COMPATIBILITY">
                <tr>
                    <th class="tw1o" colspan="3">
                        <div class="tw1o padding nested-text">BRAND</div>
                    </th>
                    <th class="tw2o" colspan="3">
                        <div class="tw2o padding nested-text">NAME</div>
                    </th>
                    <th class="tw3o">
                        <div class="tw3o padding nested-text">NUMBER</div>
                    </th>
                    <th class="tw4o">
                        <div class="tw4o padding nested-text">DATE</div>
                    </th>
                    <th class="tw5o">
                        <div class="tw5o padding nested-text">QTY</div>
                    </th>
                    <th class="tw6o">
                        <div class="tw6o padding nested-text">QTY RCV</div>
                    </th>
                    <th class="tw7o">
                        <div class="tw7o padding nested-text">COST</div>
                    </th>
                    <th class="tw8o">
                        <div class="tw8o padding nested-text">TOTAL</div>
                    </th>
                </tr>

                <tr v-for="order in item.order.data">
                    <td class="tw1o" colspan="3">
                        <div class="tw1o padding nested-text container-logo">
                            <div class="logo"></div>
                            <div style="font-weight: bold">{{order.brand_name}}</div>
                        </div>
                    </td>
                    <td class="tw2o" colspan="3">
                        <div class="tw2o padding nested-text">{{order.description_english}}</div>
                    </td>
                    <td class="tw3o">
                        <div class="tw3o padding nested-text">{{order.part_number}}</div>
                    </td>
                    <td class="tw4o">
                        <div class="tw4o padding nested-text">{{date(item.created_at)}} </div>
                    </td>
                    <td class="tw5o">
                        <div class="tw5o padding nested-text">{{order.count}}</div>
                    </td>
                    <td class="tw6o">
                        <div class="tw6o padding nested-text">
                            {{order.count}}
                        </div>
                    </td>
                    <td class="tw7o">
                        <div class="tw7o padding nested-text" style="font-weight: bold">
                            ${{order.price}}
                        </div>
                    </td>
                    <td class="tw8o">
                        <div class="tw8o padding nested-text" style="font-weight: bold">
                            ${{(Number(order.count) * Number(order.price)).toFixed(2)}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="12"
                        style="text-align: right; margin-right: 30px"
                        class="padding">
                        <span style="font-weight: normal; margin-left: 30px">Total:</span>
                        <span style="margin-right: 64px;font-weight: bold">${{total(item).toFixed(2)}}
                        </span>
                    </td>
                </tr>
            </table>

        </div>
    </li>
</ul>

